<h1>New Lesson</h1>
<p>Curriculum</p>
<p>Structure your course and content</p>
<%= form_for([@lesson.course, @lesson]) do |f| %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_area :title %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_area :contenturl %>
    </div>
    <div class="field">
      <%= f.label :level %><br>
      <%= f.number_field :level_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>