<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<table>
  <thead>
    <tr>
      <th>Instructor</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Objectives</th>
      <th>Language</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Level</th>
      <th>Certificate</th>
      <th>Lectures</th>
      <th>Coursecontentjson</th>
      <th>Privacy level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.instructor_id %></td>
        <td><%= course.title %></td>
        <td><%= course.subtitle %></td>
        <td><%= course.objectives %></td>
        <td><%= course.language_id %></td>
        <td><%= course.category_id %></td>
        <td><%= course.subcategory_id %></td>
        <td><%= course.level_id %></td>
        <td><%= course.certificate %></td>
        <td><%= course.lectures %></td>
        <td><%= course.coursecontentjson %></td>
        <td><%= course.privacy_level %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
